<%= form_tag admin_notifications_path, method: 'post' do %>
  <p><%= label_tag 'Message to send to all users' %> </p>
  <%= text_field_tag :message, params[:message] %>
  <%= submit_tag("Send") %>
<% end %>
<br>
<br>
<br>
<%= form_tag admin_notifications_path, method: 'post' do %>
  <p><%= label_tag 'Message to send to user' %></p>
  <%= text_field_tag :message, params[:message] %>
  <p><%= label_tag 'Device Token' %></p>
<%= select_tag 'id', options_from_collection_for_select(User.all.each, 'id', 'username'), include_blank: 'All People' %>
  <%= submit_tag("Send") %>
<% end %>
