<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<center><h1>Users Created</h1></center>
<center><h3><%= User.delay.count %> users registered</h3></center>
<%= line_chart User.delay.group_by_day(:created_at).count %>
<br><br><br><br>

<center><h1>Devices Registered</h1></center>
<center><h3><%= DeviceToken.delay.count %> devices registered</h3></center>
<%= pie_chart DeviceToken.delay.group('os').count %>
<br><br><br><br>

<center><h1>Events Created</h1></center>
<center><h3><%= Event.delay.count %> event created</h3></center>
<%= line_chart Event.delay.group_by_day(:created_at).count %>
<br><br><br><br>

<center><h1>Friendships Created</h1></center>
<center><h3><%= Friendship.count %> friendships created</h3></center>
<%= line_chart Friendship.group_by_day(:created_at).count %>
<br><br><br><br>

<center><h1>User Activities</h1></center>
<center><h3><%= Activity.count %> activities created</h3></center>
<%= line_chart Activity.group_by_day(:created_at).count %>
<br><br><br><br>
